<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link  rel="icon" type="image/x-icon" href="{%static 'publisher/images/icon.png'%}"/>
    <title>{% block title %}CustomEBook{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'publisher/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}&nbsp;&nbsp;<a class="ml-2" href="{% url 'website:login' %}">Sign In</a>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
</body>
</html>