{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load staticfiles %}
<div class="form-container">
  <div class="row">
    <div class="center-block col-md-6" style="float: none;">
        <form method="POST">
            {% csrf_token %}
            <center><img src="{% static 'publisher/images/icon.png'%}"/></center>
                <legend class="border-bottom mb-4"> <center>Custom Ebook</center></legend>
                {{ login_form|crispy }}
            <div class="form-group">
                <button class="btn btn-success" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <form method="get" action="{% url 'website:signup' %}">
                New To Custom Ebook?
                <button class="btn btn-success" type="submit">SignUp</button>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock content %}