{% extends 'customer/base.html' %}
{% block body %}
    {{ message }}
<div class="main">
{% if my_orders %}
<div class="form-container">
    <div class="row">
    {% for order in my_orders %}
            <div class="center-block col-md-15" style="float: none;">
                <h1>Order Summary</h1>
                <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table" id="tableID">
                        <thead>
                            <tr>
                                <th>Book Name</th>
                                <th>Chapter Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for items in order.items.all %}
                            <tr id="{{items.product.id}}">
                                <td>
                                    {{ items.product.ebook }}
                                </td>
                                <td>
                                    {{ items.product.name }}
                                </td>
                                <td>
                                    {{ items.product.price }}
                                </td>
                                <td>

                                    <form action="{% url 'customer:OrderItemDelete' items.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" onclick="return confirm('Are you sure you want to delete?');"  class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    </form>

                                </td>
                                <td>
                                    <button type="submit" class="btn up btn-default btn-sm"><span class="glyphicon glyphicon-arrow-up" enabled></span></button>
                                    <button type="submit" class="btn down btn-default btn-sm"><span class="glyphicon glyphicon-arrow-down" enabled></span></button>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    <script>
                        var x = document.getElementById("tableID").rows.length;
                        var ctr = 1
                        $("#tableID tbody tr").each(function (key, value) {

                            if (ctr == 1)
                            {
                                $(this).find('.up').attr('disabled','disabled');
                            }
                            if (ctr == x-1)
                            {
                                $(this).find('.down').attr('disabled','disabled');
                            }
                            ctr++;
                        });
                </script>
                    <div class="text-right">
                        <p>Total: {{sum}}</p>

                    <form method="POST">
                        {% csrf_token %}
                        <div style="float: left;">
                                <h3>Book Name:</h3>
                            </div>
                                <input type="text" class="form-control" id='book_name' name="book_name"  placeholder="Enter your book name"/>
                             <br>

                        <a onClick="pay(this.id)" id="{{order.ref_code}}" class="btn btn-primary pay-btn"><span class="glyphicon glyphicon-triangle-right"></span>Pay Now</a>
                    </form>
                    </div>
                </div>
                </div>


                <!--{% if order in user.profile.ebooks.all %}
                &lt;!&ndash; add a button here to see the product &ndash;&gt;
                You own this
                {% elif object in current_order_products %}
                <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-warning">Go to Cart</a>
                {% else %}

                {% endif %}
                <br><br>-->

            </div>
    {% endfor %}
    </div>
</div>
{% else %}
    <h3> Your Cart is Empty..!!</h3>

{% endif%}
<!--<p class="footer">Copyright © Group 5 DS 603/DM 2019 Order Summary Widget. All Rights Reserved | Template by <a href="http://localhost:8000/customer/" target="_blank">Custom EBook</a></p>-->
<!--<br>-->
</div>
{% endblock %}
