{% extends 'publisher/base.html' %}
{% block title %}Book Details{% endblock %}
{% block ebook_active %}active{% endblock %}

{% block body %}

<div class="chapter-container container-fluid">
    <div class="row">
        <!-- Left Ebook Info -->
        <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'publisher:detail' ebook.id %}">
                            <img src="{{ ebook.ebook_logo.url }}" alt="ebook_logo" class="img-responsive">
                        </a>
                        <h1>{{ ebook.title }}
                            <small>{{ ebook.genre }}</small>
                        </h1>
                        <h2>{{ ebook.author }} </h2>
                    </div>
                </div>
        </div>
        <!-- Right EBook Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li class="active"><a href="{% url 'publisher:detail' ebook.id %}">View All</a></li>
                <li><a href="#">Add New Book</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>All Books</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Audio File</th>
                                <th>Favourite</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chapter in ebook.chapter_set.all %}
                            <tr>
                                <td>
                                AudioFile
                                </td>
                                <td>
                                    AudioFile
                                </td>
                                <td>
                                    AudioFile
                                </td>
                                <td>
                                    AudioFile
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <!--    {% if song.is_favourite %}
            <img src="http://pngimages.net/sites/default/files/new-favorites-png-image-4552.png"/>
        {% endif %}
         <br>
    -->

{% endblock %}