{% extends 'publisher/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add a New Book{% endblock %}
{% block body %}
<div class="form-container">
    <div class="row">
    <div class="center-block col-md-6" style="float: none;">
        <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <legend class="title">ADD EBook</legend>
            {{ form|crispy }}

                <!--<div class="col-sm-offset-2 col-sm-10">-->
                    <button type="submit" class="btn btn-success">Submit</button>
                <!--</div>-->

        </form>
    </div>
    </div>
</div>
{% endblock %}
