body{
    background: white url("images/download.png");
}

.navbar{
    border-radius: 0;
}
.navbar-brand{
    font-family: 'satisfy', cursive;
}
.center_div{
    border: 1px solid white;
    margin: 0 auto;

    width:40%;/* value of your choice which suits your alignment */
}

/*.centerdiv1{
    position: relative;
    border: 1px solid white;
    margin: 0 auto;
    width:30%;*//* value of your choice which suits your alignment *//*
    height:40%;
}*/
img{
    width: 10%;
    height: 10%;
}

.thumbnail{
    /*position: relative;

    display: inline-block;*/
    margin: 5px;
  /*white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
 display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch; *//* should be default, but just in case *//*
  float: left;
  width: 30%;*/
}
.img-responsive{
    width:100%;
}
.form-container{
  padding:10px;
  padding-bottom:25px;
  margin:0 auto;
  margin-top:20px;
  width:50%;
  border-radius:20px;
  background-color: #ececec;
}

.add-one{
  color:green;
  text-align:center;
  font-weigth:bolder;
  cursor:pointer;
  margin-top:10px;
}

.delete{
  color:white;
  background-color:rgb(231, 76, 60);
  text-align:center;
  margin-top:6px;
  font-weight:700;
  border-radius:5px;
  min-width:20px;
  cursor:pointer;
}

#singlebutton{
  width:100%;
  margin-top:20px;
}

.title{
  text-align:center;
  font-size:40px;
  margin-bottom:40px;
}

.dynamic-element{
  margin-bottom:0px;
}