{% extends 'customer/base.html' %}
{% block body %}
<!--<div class="main">-->
<div class="container-fluid">
    {% if ebook_list %}
      {% for ebook in ebook_list %}
    <div class="col-sm-2 col-sm-2">
    <div class="thumbnail">

            <!-- Album logo -->
            <a href="{% url 'products:chapterdetails' ebook.pk %}">
                <img src="{{ ebook.ebook_logo.url }}" class="img-responsive">
            </a>
            <!--<div class="col-md-2" style="float: none;">
                <h2>{{ ebook.title }}</h2>
                <h4>{{ ebook.author }}</h4>
                <h4>{{ ebook.genre }}</h4>
            </div>-->
            <!-- Details -->
            <form action="" method="post" style="display: inline;">
                {% csrf_token %}
            <a href="{% url 'products:chapterdetails' ebook.pk %}" class="btn btn-primary btn-sm">View Chapters</a>
            </form>

         </div>

    </div>
    {% endfor %}
    {% else %}
        <h3> No Book To Display</h3>
  {% endif %}
</div>
    <!--<p class="footer">Copyright © Group 5 DS 603/DM 2019 EBooks Widget. All Rights Reserved | Template by <a href="http://localhost:8000/customer/pay/" target="_blank">Custom EBook</a></p>-->
<!--</div>-->
{% endblock %}
